body, input{
    font: 12px normal "微软雅黑";
}

p{margin: 0;}

.custom-btn{
    margin-left: 4px;
    border-radius: 3px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
    color:#FFFFFF;
    background-color:#2DAEBF;
    text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
    padding:2px 8px;
    text-decoration: none;
}
.custom-btn:hover{
    background-color: #41BDDA;
    color: #FFC;
}

#receiver_area{
    border-radius: 5px;
    float: left;
    background: #F1F1F1;
    padding: 8px;
    width: 200px;
    margin-left: -100%;
    position: relative;
}

.main-wrap{
    margin-left: 240px;
    background-color: #F3F3F3;
}

#receiver_title{
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: 2px;
    color: #333;
}

#message_area {
    float: left;
    width: 100%;
}

#message_title{
    background-color: lightgray;
    width: 100%;
    white-space: nowrap;
    height: 30px;
}

#message_page_title{
    float: left;
    margin-top: 6px;
}

#message_page_title .pagnav-btn{
    color: #4588FF;
    text-decoration: none;
}

#message_page_title .pagnav-btn:hover{
    color: #F60;
}

#message_page_title  a {
    margin-left: 10px;
}

#message_buttons{
    float: right;
    overflow: hidden;
    margin-right: 8px;
    height: 24px;
    padding-top: 5px;
}
#message_buttons input{
    margin: 0 0 0 4px;
    padding: 0 0 0 2px;
    border: 1px solid #A6B1B7;
    outline: none;
    height: 18px;
}
#message_buttons input:focus{
    border: 1px solid #66C6FC;
}

#message_list {
    clear: both;
}

.receiver {
    white-space: nowrap;
    line-height: 20px;
    cursor: pointer;
    padding-left: 8px;
    color: #969696;
    margin: 0;
}

.receiver:hover{
    background-color: #E8F0CB;
    color: #88A6E0;
}

#receiver_list .cur-receiver{
    background-color: #A2DDB3;
    color: #3366CB;
}

.msg_item {
    padding: 6px 0;
}

.msg_item:nth-of-type(even){
    background-color: #efe;
}

.msg_item input {
    vertical-align: text-bottom;
    margin: 0 6px 2px;
}

.msg_sender {
    font-weight: bold;
    margin-right: 8px;
    color: #C65D09;
}

.msg_time{
    color: #333;
}

.msg_text{
    color: #40B31A;
    margin-left: 24px;
    margin-top: 2px;
}
#curPage{
    text-decoration: none;
}